.archive-lists .month_archive {
  margin-bottom: 30px;
}
.archive-lists .month_archive .title {
  font-family: "BrixSlab-Bold";
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
.archive-lists .month_archive ul li {
  background: url("images/hor_dash.png") repeat-x bottom;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.archive-lists .month_archive ul li a.title {
  color: #4E4A49;
  font-size: 15px;
}
.archive-lists .month_archive ul li span {
  color: #888888;
  font-size: 11px;
  margin-right: 1px;
}
.archive-lists .month_archive ul li span.date,.archive-lists .month_archive ul li span.category{
	text-transform: uppercase;
}
.archive-lists .month_archive ul li span a:hover{
  color: #4E4A49;
}